<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
   
    
    <nav >
        <i class="fa fa-shopping-cart" aria-hidden="true"></i>
        <form class="form-inline" >
          
            
            <button class="btn btn-outline-success" type="button" target="blank"><a routerLink="/save" routerLinkActive="active" >New Employee</a></button>
          <button class="btn btn-outline-success" type="button"  style="margin-left: 20px;"><a routerLink="/search" routerLinkActive="active" >Search Employee</a></button>
      
        </form>
      </nav>
  </nav>
  